<div class="grafico-covid">

    <h2 class="grafico-covid__pagina-titulo" tabindex="0">Causas externas</h2>
    
    <p class="grafico-covid__descricao" tabindex="0">
      Aqui podemos ver um comparativo do número de óbitos por ano por Covid-19 em comparação com algumas outras causas de mortes.
    </p>
  
    <section class="grafico-covid__grid">
      <div class="grafico-covid__card">
        <h3 class="grafico-covid__card-titulo" tabindex="0">Covid-19 x Causas externas (média de mortes por ano)</h3>
        <app-causas-externas [mortesCovid]='mortesCovid' [local]='local'></app-causas-externas>
      </div>
    </section>
  
  </div>
  